In [1]:
import pyreadr
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report

In [4]:


data ='./data/eh21.RData'
df = pyreadr.read_r(data)


print(df.keys())
eh21p = df["eh21p"]
eh21v = df["eh21v"]
eh21di = df["eh21di"]
eh21eq =df["eh21eq"]
eh21p.head()

odict_keys(['eh21p', 'eh21v', 'eh21di', 'eh21eq'])

In [25]:
y = pd.DataFrame(eh21p, columns = ['aestudio'])
datx1 = pd.DataFrame(eh21p, columns = ['folio','s01a_02', 'depto', 'area', 's01a_03','ylab','s01a_09'],)
datx2 = pd.DataFrame(eh21v, columns = ['folio', 's07a_03','s07a_16'])
xframes = [datx1,datx2]
X = pd.concat(xframes)

In [23]:
datx1.shape

(42090, 6)

In [24]:
datx2.shape

(12847, 2)

In [26]:
X.shape

(54937, 9)

In [14]:
X.describe()

,s01a_02,depto,area,s01a_03,ylab,s01a_09,s07a_03,s07a_16
count,42090.000000,42090.000000,42090.000000,42090.000000,16362.000000,42090.000000,7990.000000,12847.000000
mean,1.512996,4.304253,1.229627,30.164291,3054.763179,1.773889,3.075469,1.035339
std,0.499837,2.415331,0.420598,20.775893,2604.791627,0.422274,0.744949,0.184642
min,1.000000,1.000000,1.000000,0.000000,10.000000,1.000000,1.000000,1.000000
25%,1.000000,2.000000,1.000000,13.000000,1428.900024,2.000000,3.000000,1.000000
50%,2.000000,4.000000,1.000000,27.000000,2559.358398,2.000000,3.000000,1.000000
75%,2.000000,7.000000,1.000000,45.000000,3897.000000,2.000000,3.000000,1.000000
max,2.000000,9.000000,2.000000,98.000000,55135.335938,3.000000,5.000000,2.000000

In [16]:
y.describe()

           aestudio
count  39384.000000
mean       8.634217
std        5.495245
min        0.000000
25%        4.000000
50%        9.000000
75%       12.000000
max       23.000000

In [18]:
X.shape

(54937, 8)

In [19]:
y.shape

(42090, 1)

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

ValueError: Found input variables with inconsistent numbers of samples: [54937, 42090]

           aestudio
count  39384.000000
mean       8.634217
std        5.495245
min        0.000000
25%        4.000000
50%        9.000000
75%       12.000000
max       23.000000