In [3]:
import pyreadr
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report

In [4]:


data ='./data/eh21.RData'
df = pyreadr.read_r(data)


print(df.keys())
eh21p = df["eh21p"]
eh21v = df["eh21v"]
eh21di = df["eh21di"]
eh21eq =df["eh21eq"]
eh21p.head()

odict_keys(['eh21p', 'eh21v', 'eh21di', 'eh21eq'])

,folio,depto,area,nro,s01a_02,s01a_03,s01a_04a,s01a_04b,s01a_04c,s01a_05,...,yhog,yhogpc,z,zext,p0,p1,p2,pext0,pext1,pext2
0,111-000005-A-0021,1.0,1.0,1.0,1.0,56.0,7.0,3.0,1965.0,1.0,...,6478.666992,1295.733398,1000.099976,468.5,0.0,0.0,0.0,0.0,0.0,0.0
1,111-000005-A-0021,1.0,1.0,2.0,2.0,48.0,28.0,4.0,1973.0,2.0,...,6478.666992,1295.733398,1000.099976,468.5,0.0,0.0,0.0,0.0,0.0,0.0
2,111-000005-A-0021,1.0,1.0,3.0,2.0,28.0,10.0,1.0,1993.0,3.0,...,6478.666992,1295.733398,1000.099976,468.5,0.0,0.0,0.0,0.0,0.0,0.0
3,111-000005-A-0021,1.0,1.0,4.0,1.0,19.0,7.0,7.0,2002.0,3.0,...,6478.666992,1295.733398,1000.099976,468.5,0.0,0.0,0.0,0.0,0.0,0.0
4,111-000005-A-0021,1.0,1.0,5.0,2.0,19.0,7.0,7.0,2002.0,3.0,...,6478.666992,1295.733398,1000.099976,468.5,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
y = pd.DataFrame(eh21p, columns = ['aestudio'])
datx1 = pd.DataFrame(eh21p, columns = ['folio','s01a_02', 'depto', 'area', 's01a_03','ylab','s01a_09'],)
datx2 = pd.DataFrame(eh21v, columns = ['folio', 's07a_03','s07a_16'])
xframes = [datx1,datx2]
X = pd.concat(xframes)

In [6]:
datx1.shape

(42090, 7)

In [7]:
datx2.shape

(12847, 3)

In [8]:
X.shape

(54937, 9)

In [9]:
X.describe()

,s01a_02,depto,area,s01a_03,ylab,s01a_09,s07a_03,s07a_16
count,42090.000000,42090.000000,42090.000000,42090.000000,16362.000000,42090.000000,7990.000000,12847.000000
mean,1.512996,4.304253,1.229627,30.164291,3054.763179,1.773889,3.075469,1.035339
std,0.499837,2.415331,0.420598,20.775893,2604.791627,0.422274,0.744949,0.184642
min,1.000000,1.000000,1.000000,0.000000,10.000000,1.000000,1.000000,1.000000
25%,1.000000,2.000000,1.000000,13.000000,1428.900024,2.000000,3.000000,1.000000
50%,2.000000,4.000000,1.000000,27.000000,2559.358398,2.000000,3.000000,1.000000
75%,2.000000,7.000000,1.000000,45.000000,3897.000000,2.000000,3.000000,1.000000
max,2.000000,9.000000,2.000000,98.000000,55135.335938,3.000000,5.000000,2.000000

In [10]:
y.describe()

           aestudio
count  39384.000000
mean       8.634217
std        5.495245
min        0.000000
25%        4.000000
50%        9.000000
75%       12.000000
max       23.000000

In [11]:
X.shape

(54937, 9)

In [12]:
y.shape

(42090, 1)

In [15]:
y.head()

   aestudio
0       7.0
1       6.0
2      13.0
3      12.0
4      12.0

In [17]:
X.head()

,folio,s01a_02,depto,area,s01a_03,ylab,s01a_09,s07a_03,s07a_16
0,111-000005-A-0021,1.0,1.0,1.0,56.0,5845.5,2.0,NaN,NaN
1,111-000005-A-0021,2.0,1.0,1.0,48.0,NaN,1.0,NaN,NaN
2,111-000005-A-0021,2.0,1.0,1.0,28.0,216.5,1.0,NaN,NaN
3,111-000005-A-0021,1.0,1.0,1.0,19.0,NaN,2.0,NaN,NaN
4,111-000005-A-0021,2.0,1.0,1.0,19.0,NaN,2.0,NaN,NaN

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

ValueError: Found input variables with inconsistent numbers of samples: [54937, 42090]